:root{
    --background-primary:#F3F4F6;
    --header-footer-color:#1A2535;
    --text-header-color-nav:#D1D5DC;
    --text-header-color-nav-hover:#C62828;
    --secondary-color:#C62828;
    --button-primary-color:#C62828;
    --button-primary-color-hover:#b71c1c;
    --button-serondary-color: transparent;
    --button-secondary-color-hover:#ffffff;


}


