:root{
    --background-primary:#F3F4F6;
    --header-footer-color:#1A2535;
    --text-header-color-nav:#D1D5DC;
    --text-header-color-nav-hover:#C62828;
    --secondary-color:#C62828;
    --button-primary-color:#C62828;
    --button-primary-color-hover:#b71c1c;
    --button-serondary-color: transparent;
    --button-secondary-color-hover:#ffffff;
    --font-family:'Inter', sans-serif;
    --text-white-color:#ffffff;
    --section-example:#0E1A2B;
    --text-subwhite-color:#E5E7EB;
    --text-description-color:#99A1AF;
}
/* comentan todo esto en ingles */
.section-product{
    font-family: var(--font-family);
    background: var(--section-example);
    width: 100%;
}
.container{
    width: 100%;
    padding: 138px 200px 138px 200px;
    box-sizing: border-box;
}
.container > p:not(.product-subdescription){
    color: var(--text-white-color);
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    margin: 0px;
    line-height: 36px;
    color: var(--text-subwhite-color);
}
.container p strong{
    color: var(--text-white-color);
    font-weight:700;
}
.premiun-title{
    color: var(--text-white-color);
    background: var(--secondary-color);
    width: fit-content;
    border-radius: 4px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 7.993px;
}
.premiun-title p{
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1.4px;
    line-height: 20px;
    padding: 8px 24px;
    margin: 0px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: normal;
    gap: 8px;
}
.product-title{
    color: var(--text-white-color);
    max-width: 895px;
    font-size: 96px;
    font-style: normal;
    line-height: 120px;
    font-weight: 700;
    margin: 10px 0px;
}

.product-title span{
    color: var(--secondary-color);
}
.product-subdescription{
    color: var(--text-description-color);
    font-size: 18px;
    font-style: normal;
    line-height: 29.25px;
    font-weight: 400;
    width: 626px;
    padding-left: 20px;
    border-left: 2px solid var(--secondary-color);
}
.button-container{
    display: flex;
    width: 895.989px;
    height: 69.907px;
    justify-content: start;
    align-items: center;
    gap: 23.993px;
}
.button-primary{
    background: var(--button-primary-color);
    color: var(--text-white-color);
    display: flex;
    padding: 19.92px 39.994px 21.987px 39.994px;
    justify-content: center;
    align-items: center;
    gap: 0.218px;
    border-radius: 4px;
    font-size: 20px;
    font-style: normal;
    line-height: 28px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}
.button-primary:hover{
    background: var(--button-primary-color-hover);
    transform: translateY(-2.5px);
}
.button-secondary{
    background: var(--button-serondary-color);
    border-radius: 1px solid white;
    color: var(--text-white-color);
    display: flex;
    padding: 19.92px 39.994px 21.987px 39.994px;
    justify-content: center;
    align-items: center;
    gap: 0.218px;
    border-radius: 4px;
    font-size: 20px;
    font-style: normal;
    line-height: 28px;
    font-weight: 700;
    border: 2px solid white;
    cursor: pointer;
}
.button-secondary:hover{
    background: var(--button-secondary-color-hover);
    color: black;
}
