:root {
  --background-primary: #F3F4F6;
  --header-footer-color: #1A2535;

  --text-header-color-nav: #D1D5DC;
  --text-header-color-nav-hover: #C62828;
  --secondary-color: #C62828;
  --button-primary-color: #C62828;
  --button-primary-color-hover: #b71c1c;
  --button-serondary-color: transparent;
  --button-secondary-color-hover: #ffffff;
  --font-family: 'Inter', sans-serif;
  --text-white-color: #ffffff;
  --section-example: #0E1A2B;
  --text-subwhite-color: #E5E7EB;
  --text-description-color: #99A1AF;
  --color-gray-700: oklch(37.3% .034 259.733);
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.container {

  padding: 60px 200px 60px 200px;

}

.encabezado {
  position: relative;
  width: 100%;

  background-image:
    linear-gradient(to right,
      rgba(14, 26, 42),
      rgba(14, 26, 42),
      rgba(14, 26, 42),
      rgba(14, 26, 42, 0.8),
      rgba(14, 26, 42, 0.7)),
    url("../images/icons/services/vista1.jpeg") !important;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title-page {
  color: var(--text-white-color);
  font-family: var(--font-sans);
  max-width: 750px;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 10px;
}

#pc {

  font-family: var(--font-family);
  font-size: 18px !important;
  max-width: 750px;
  font-weight: 300 !important;
  line-height: 30px !important;
  margin-bottom: 5px !important;
  color: var(--text-white-color);
}

.button-container1 {
  display: flex;
  height: 120px;
  justify-content: start;
  align-items: center;
  gap: 23.993px;

}

.button-primary1 {
  background: var(--button-primary-color);
  color: var(--text-white-color);
  display: flex;
  padding: 15.92px 30.994px 15.987px 30.994px;
  justify-content: center;
  align-items: center;
  gap: 0.218px;
  border-radius: 4px;
  font-size: 18px;
  font-style: normal;
  line-height: 28px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.button-primary1:hover {
  background: var(--button-primary-color-hover);
  transform: translateY(-2.5px);
}


.section2 {
  width: 100%;
  background-color: white;
  font-family: var(--font-family);
}

.title2 {
  color: #0E1A2B;
  font-family: var(--font-family);
  font-size: 33.5px;
}

.lista {
  color: #0E1A2B;
  padding: 10px 15px 10px 50px;
  background: var(--background-primary);
  border-radius: 10px;
  border-left: 4px solid #C62828;
  background-color: oklch(98.5% .002 247.839);
}

.title1 {
  color: #0E1A2B;
  font-size: 20px !important;
  font-weight: 700;
  margin-left: 40px;
}

#de {
  color: var(--text-description-color);
  font-size: 18px !important;
  font-weight: 300;
  margin-bottom: 40PX;
}

.lista ul {
  color: #364153;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px 30px;
  font-size: 16px;
  font-weight: 300;
}

.lista li {
  position: relative;
  font-size: 16px;
  line-height: 1.4;
  padding-left: 5%;
}

.lista li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url("../images/icons/services/Icon-list.svg") no-repeat center;
  background-size: contain;
}



.section3 {
  width: 100%;
  background-color: oklch(98.5% .002 247.839);
  font-family: var(--font-family);
}

.container .tit {
  font-family: var(--font-family);
  font-size: 36px;
  text-align: center;
}

.recuadros {
  border-radius: 8px;
  padding: 32px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.20);
  transition: transform 0.2s ease-in-out;
}

.recuadros h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}


.recuadros p {
  font-size: 15px;
  line-height: 1.5;
  font-weight: 400;
  color: #364153;
}

.contenedor3 ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px 35px;
  padding: 10px 10px;
}

.imagen {
  background-color: #C62828;
  max-width: 35px;
  padding: 12px 7px 12px 13px;
  border-radius: 8px;
}

.section4 {
  width: 100%;
  font-family: var(--font-family);
}


.title4 {
  color: #0E1A2B;
  text-align: center;
  font-size: 33.5px;
  font-style: normal;
  font-weight: 750;
  line-height: 36px;
  margin-bottom: 50PX;
}

.contenedor4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 30px;
}

.recuadro {
  background: var(--background-primary);
  border-radius: 8px;
  padding: 23px 50px 10px 23px;
  font-family: var(--font-family);
}

.recuadro p {
  font-size: 15px;
  font-weight: 400;
  color: #364153;
  display: flex;
  align-items: flex-start;
  line-height: 1.6;
}

.recuadro h3 {
  font-size: 16px;
  font-weight: 800;
  margin: 0 0 8px 0;
}

.logotipo {
  width: 50px;
  height: 50px;
  background-color: #C62828;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
  margin-right: 15px;
  float: left;
}

.section5 {
  background: var(--section-example);
  text-align: center;
  width: 100%;
  font-family: var(--font-sans);
  color: var(--text-white-color);
  justify-content: center;
}

.general5 {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 80px;
  color: var(--text-subwhite-color);
  font-family: var(--font-family);
  align-items: center;
  align-items: flex-start;
}

.general5 h3 {
  font-size: 20px;
  font-weight: 800;
}

.general5 P {
  line-height: 1.5;
  font-size: 14px;
  font-weight: 300;
  max-width: 280px;
}

.logotipo5 {
  width: 60px;
  height: 60px;
  background-color: #C62828;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 22px;
  margin-right: 15px;
  font-family: var(--font-sans);
  font-weight: 700;
  text-align: center;
  justify-content: center;
}

.title5 {

  font-size: 33.5px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;

}

.recuadro5 {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 20px;
}





.section6 {
  background: var(--text-white-color);
  width: 100%;
  font-family: var(--font-family);
}

.title6 {
  font-size: 33.5px;
  font-style: normal;
  font-weight: 800;
  text-align: center;
}

.general6 {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 40px;
  font-family: var(--font-family);
  align-items: center;
}

.general6 h3 {
  font-size: 25px;
  font-weight: 1000;
}

.general6 P {
  line-height: 1.5;
  font-size: 15px;
  font-weight: 400;
  color: var(--text-description-color);
}

.numeros {
  font-size: 55px;
  font-weight: 700;
  color: var(--secondary-color);
  font-family: var(--font-sans);

}

.section7 {
  background: var(--section-example);
  text-align: center;
  align-items: center;
  width: 100%;
  font-family: var(--font-family);
  color: var(--text-white-color);
}

.title7 {
  font-size: 33.5px;
  font-style: normal;
  font-weight: 800;
  border-radius: 20%;
}

.description7 {
  text-align: center !important;
  align-items: center !important;
  padding: 0px 190px;
  line-height: 1.5;
  font-size: 20px;
  font-weight: 300;
  color: var(--text-description-color) !important;
}

.button-container2 {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  gap: 23.993px;
}

.button-secondary {
  background: var(--button-serondary-color);
  border-radius: 1px solid white;
  color: var(--text-white-color);
  display: flex;
  padding: 15.92px 30.994px 15.987px 30.994px;
  justify-content: center;
  align-items: center;
  gap: 0.218px;
  border-radius: 4px;
  font-size: 20px;
  font-style: normal;
  line-height: 28px;
  font-weight: 700;
  border: 2px solid white;
  cursor: pointer;
}

.button-secondary a {
  color: inherit;
  text-decoration: none;
}


.button-secondary:hover {
  background: white;
  color: black;
}